.the-article {
  padding: 50px;
}

.the-article__heading {
  /* text-align: center; */
}

.the-article__cate a {
  text-transform: uppercase;
  font-size: 2.4rem;
  color: var(--color-gray-500);
}

.the-article__cate > a:not(:first-child)::before {
  display: inline-block;
  content: ">";
  font-size: 2.4rem;
  color: var(--color-gray-500);
  margin: 0 8px;
}

.the-article__title h1 {
  font-size: 3.4rem;
}

.the-article__meta .author {
  font-size: 1.6rem;
  font-weight: bold;
}

.the-article__meta {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

.the-article__meta .time {
  font-size: 1.2rem;
  color: var(--color-gray-600);
}

.the-article__meta .time::before {
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--color-dark);
  margin: 0 8px;
}

.the-article .content {
  padding-right: 360px;
  width: 100%;
  position: relative;
}

.the-article__summary {
  font-size: 1.8em;
  color: var(--color-dark);
  font-weight: bold;
}

.the-article__body {
  margin-top: 16px;
}

.the-article__body .picture img {
  width: 100%;
  height: auto;
}

.the-article__body .picture p {
  font-size: 1.3rem;
  color: var(--color-gray-700);
}

.the-article__body > p {
  font-size: 1.7rem;
  line-height: 1.8;
}

.the-article__body > h3 {
  font-size: 3rem;
  text-align: center;
}

.the-article__tag {
  display: flex;
  align-items: center;
  margin-top: 32px;
}

.the-article__tag > span {
  margin-left: 16px;
}

.the-article__tag i {
  font-size: 2rem;
  color: var(--color-theme-1);
}

.the-article__tag a {
  background-color: var(--color-gray-500);
  padding: 4px 8px;
  border-radius: 8px;
  color: var(--color-dark);
}

.the-article__tag a:hover {
  background-color: var(--color-theme-4);
  color: var(--color-white);
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 340px;
}

.sidebar #section-mostview {
  margin-top: 32px;
  position: sticky;
  top: calc(var(--header-height) + 12px);
}

.sidebar .section.ads {
  margin-top: 0;
}

.sidebar .z-ads {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

#section-related {
  margin-top: 64px;
}

#section-related .article__meta {
  display: none;
}

#section-recommendation {
  margin-top: 32px;
}

#section-recommendation .article__meta .friendly-time {
  display: none;
}

.the-article__nextreads {
  margin-top: 32px;
}

#section-nextreads .article__meta .friendly-time {
  display: none;
}

#section-hot-48h {
  position: sticky;
  top: calc(var(--header-height) + 12px);
}

#section-hot-48h .article__meta {
  display: none;
}
