:root {
  /* values */
  --header-height: 52px;
  /* color */
  --color-theme-1: #04b2f7;
  --color-theme-2: #dd3333;
  --color-theme-3: #141329;
  --color-theme-4: #006ba0;
  --color-theme-5: #ffde76;
  --color-theme-6: #444;
  --color-theme-7: #333240;
  --color-blue: #0d6efd;
  --color-indigo: #6610f2;
  --color-purple: #6f42c1;
  --color-pink: #d63384;
  --color-red: #dc3545;
  --color-orange: #fd7e14;
  --color-yellow: #ffc107;
  --color-green: #198754;
  --color-teal: #20c997;
  --color-cyan: #0dcaf0;
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #6c757d;
  --color-gray-dark: #343a40;
  --color-gray-100: #f8f9fa;
  --color-gray-200: #e9ecef;
  --color-gray-300: #dee2e6;
  --color-gray-400: #ced4da;
  --color-gray-500: #adb5bd;
  --color-gray-600: #6c757d;
  --color-gray-700: #495057;
  --color-gray-800: #343a40;
  --color-gray-900: #212529;
  --color-primary: #0d6efd;
  --color-secondary: #6c757d;
  --color-success: #198754;
  --color-info: #0dcaf0;
  --color-warning: #ffc107;
  --color-danger: #dc3545;
  --color-light: #f8f9fa;
  --color-dark: #212529;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.4;
  box-sizing: inherit;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.btn {
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  height: 100%;
  cursor: pointer;
}
/* scroll bar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
