/* Tablet 740px <= width < 1024 */
@media (min-width: 740px) and (max-width: 1023px) {
  .header__center {
    order: -1;
  }
  .h-nav__item:not(:last-child) {
    display: none;
  }
  .h-nav__item:last-child {
    margin-left: 0;
  }
  .h-nav__item:last-child button {
    padding: 0 16px;
  }
  #section-widget {
    display: none;
  }
  #z-container {
    padding-top: 64px;
  }
  #section-featured .article__desc > *:not(.article__title) {
    display: none;
  }
  .newsfeatured {
    order: -1;
  }
  .section__heading ul {
    display: none;
  }

  #section-foryou .article-list--horizontal .article {
    max-width: 33.33333%;
    flex: 0 0 33.33333%;
  }
  #section-mostview,
  #section-podcast {
    display: none;
  }
  #section-lifestyle .article__related {
    display: none;
  }
  #section-lifestyle [data-content="newstrending"] {
    display: flex;
    flex-wrap: wrap;
  }
  #section-lifestyle [data-content="newstrending"] .article {
    max-width: 50%;
    flex: 0 0 50%;
    margin: unset;
  }
  .article--magazine {
    max-width: 33.33333%;
    flex: 0 0 33.33333%;
  }
  .video-sidebar {
    padding-top: 50%;
    margin-top: 16px;
  }
  .copyright-info {
    display: unset;
  }
  /* category */
  .category__heading {
    margin-top: 24px;
  }
  .category {
    padding: 0 12px;
  }

  .box-6-item-layout .article-list {
    display: flex;
    margin-left: -4px;
    margin-right: -4px;
  }
  .box-6-item-layout .article {
    margin-top: 0;
    display: unset;
    max-width: 25%;
    flex: 0 0 25%;
    padding-left: 4px;
    padding-right: 4px;
  }

  .box-6-item-layout .article__desc {
    padding-left: 0;
    padding-top: 12px;
  }
  .box-6-item-layout .article__thumbnail {
    width: 100%;
  }
  .section-hot-48h {
    display: none;
  }
  /* the article */
  .the-article .content {
    padding-right: unset;
  }
  .the-article .sidebar {
    display: none;
  }
  #section-recommendation .article {
    display: flex;
    padding-bottom: 12px;
  }

  #section-recommendation .article .article__thumbnail {
    width: 36%;
  }
  #section-recommendation .article .article__desc {
    flex: 1;
    padding-left: 16px;
  }
}
/* Mobile width < 740px */
@media (max-width: 739px) {
}
