/* Tablet 740px <= width < 1024 */
@media (min-width: 740px) and (max-width: 1023px) {
  .header__center {
    order: -1;
  }
  .h-nav__item:not(:last-child) {
    display: none;
  }
  .h-nav__item:last-child {
    margin-left: 0;
  }
  .h-nav__item:last-child button {
    padding: 0 16px;
  }
  #section-widget {
    display: none;
  }
  #z-container {
    padding-top: 64px;
  }
  #section-featured .article__desc > *:not(.article__title) {
    display: none;
  }
  .newsfeatured {
    order: -1;
  }
  .section__heading ul {
    display: none;
  }

  #section-foryou .article-list--horizontal .article {
    max-width: 33.33333%;
    flex: 0 0 33.33333%;
  }
  #section-mostview,
  #section-podcast {
    display: none;
  }
}
/* Mobile width < 740px */
@media (max-width: 739px) {
}
