#app {
  position: relative;
}

#z-header {
  background-color: var(--color-white);
  position: fixed;
  z-index: 1000;
  width: 100%;
  border-bottom: 1px solid var(--color-gray-400);
  height: var(--header-height);
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.page-wrapper {
  position: relative;
}

.page-wrapper,
.header__left,
.header__center,
.header__right {
  height: 100%;
}

.header__logo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px;
}

.header__logo img {
  height: 70%;
}

.header__logo span {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
  color: var(--color-gray-700);
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.h-nav__item {
  font-size: 1.4rem;
  color: var(--color-gray-700);
  height: 100%;
}

.h-nav__item + .h-nav__item {
  margin-left: 24px;
}

.h-nav__item a {
  font-size: 100%;
  color: currentColor;
  font-weight: bold;
}

.h-nav__item > * {
  height: 100%;
  line-height: var(--header-height);
}

.h-nav__item:not(:last-child):hover {
  color: var(--color-theme-1);
  border-bottom: 3px solid var(--color-theme-1);
}

.h-nav__item:last-child.active {
  border-bottom: 3px solid var(--color-theme-1);
}

.header__right {
}

.header__search {
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.header__search-form {
  position: relative;
  right: 0;
  border-radius: 4px;
  height: 70%;
  transition: all ease 0.3s;
}

.header__search-form.active {
  background-color: var(--color-theme-6);
}

.header__search-form input {
  border: none;
  outline: none;
  background-color: transparent;
  line-height: 2;
  font-size: 1.4rem;
  color: var(--color-white);
  width: 0;
  transition: all ease 0.3s;
}

.header__search-form.active input {
  padding-left: 16px;
  width: 260px;
}

.btn__search {
  position: relative;
  color: var(--color-theme-6);
}

.header__search-form.active .btn__search {
  color: var(--color-theme-4);
}

.category-popup {
  position: absolute;
  width: 100%;
  background-color: var(--color-theme-3);
  top: var(--header-height);
  min-height: 100px;
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.3s;
}

.category-popup.active {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.category-menu {
  max-height: calc(100vh - var(--header-height));
  padding-bottom: 90px;
  overflow-y: auto;
}

.normal-category {
  padding-top: 24px;
  padding-bottom: 16px;
}

.block-category {
  margin-bottom: 24px;
}

.b-cate__heading {
  margin: 0;
}

.b-cate__heading a {
  color: var(--color-gray-300);
  font-size: 1.6rem;
  position: relative;
}

.b-cate__heading a::before {
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: -8px;
  display: inline-block;
  content: "";
  /* height: 80%; */
  width: 4px;
  background-color: var(--color-theme-2);
  transform: skew(-15deg);
}

.b-cate__sub {
  margin-top: 8px;
}

.b-cate__sub li {
  line-height: 2;
  font-size: 1.3rem;
  color: var(--color-gray-500);
}

.b-cate__sub li a:hover {
  color: var(--color-theme-1);
}

.b-cate__sub li a {
  color: currentColor;
}

.channels-menu {
  height: var(--header-height);
  background-color: var(--color-theme-7);
  position: absolute;
  width: 100%;
  bottom: 0;
}

.channels-menu ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* container */
#z-container {
  position: absolute;
  width: 100%;
  top: var(--header-height);
  background-color: var(--color-white);
}

#section-widget {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
}

.hashtag-trending {
  display: flex;
  align-items: center;
}

.hashtag-trending::before {
  display: inline-block;
  content: "";
  background: url(../images/z-icons/stat.svg);
  background-size: contain;
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.hashtag-item + .hashtag-item {
  margin-left: 16px;
}

.hashtag-item a {
  padding: 0 16px;
  line-height: 24px;
  border-radius: 24px;
  background-color: var(--color-gray-300);
  color: var(--color-dark);
  font-size: 1.3rem;
}

.hashtag-item a::before {
  display: inline-block;
  content: "#";
  margin-right: 2px;
  color: currentColor;
  font-size: 1.3rem;
}

.hashtag-item:hover a {
  background: linear-gradient(-45deg, #23a6d5, #23d5ab);
  color: var(--color-white);
}

.widget-weather {
  position: relative;
}

.widget-weather .current-city li {
  font-size: 1.5rem;
  line-height: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.widget-weather .current-city li > *:not(:first-child) {
  margin-left: 8px;
}

.widget-weather .current-city img {
  height: 24px;
}

.widget-weather .current-city i {
  color: var(--color-theme-1);
  font-size: 0;
  transition: all ease 0.3s;
}

.widget-weather .current-city li.active i {
  font-size: 1.5rem;
  transform: rotate(180deg);
}

.widget-weather .current-city li:hover i {
  font-size: 1.5rem;
}

#weather-filter {
  position: absolute;
  z-index: 999;
  top: 120%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.3s;
  border: 1px solid var(--color-gray-400);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#weather-filter.active {
  visibility: visible;
  opacity: 1;
}

#weather-filter input {
  background-color: var(--color-gray-300);
  color: var(--color-dark);
  font-size: 1.5rem;
  width: 100%;
  padding: 8px;
  border: none;
  outline: none;
}

.city-list {
  background-color: var(--color-white);
  max-height: 360px;
  overflow-y: auto;
  padding-bottom: 8px;
}

.city-list p {
  font-size: 1.4rem;
  color: var(--color-gray-600);
  font-weight: bold;
  padding: 0 8px;
}

.city-list ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 24px;
  font-size: 1.4rem;
  border-bottom: 1px solid var(--color-gray-300);
  padding: 8px;
  cursor: pointer;
}

.city-list .others-city li:hover {
  background-color: var(--color-gray-200);
}

.city-list ul li span {
  display: flex;
  align-items: center;
}

.city-list ul li img {
  margin-left: 8px;
  height: 24px;
}

#section-featured .article__meta {
  display: none;
}

.article__thumbnail {
  position: relative;
  overflow: hidden;
}

.article__thumbnail a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 66.67%;
  border-radius: 6px;
  overflow: hidden;
}

.article__thumbnail a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article__desc {
  padding-top: 16px;
}

.article__title {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--color-gray-900);
  margin: 0;
}

.article__title a {
  color: currentColor;
}

.article__thumbnail:hover + .article__desc .article__title,
.article__title:hover {
  color: var(--color-theme-4);
}

.article__meta {
  display: flex;
  align-items: center;
}

.article__meta > *:not(:first-child)::before {
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--color-dark);
  font-size: 2rem;
  margin: auto 8px;
}

.article__cate {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--color-gray-700);
}

.article__publish {
  font-size: 1.4rem;
  color: var(--color-gray-600);
  display: flex;
  align-items: center;
}

.article__publish > *:not(:first-child) {
  margin-left: 4px;
}

.article__cate:hover {
  color: var(--color-theme-1);
}

.article__summary {
  font-size: 1.6rem;
  color: var(--color-gray-700);
  margin: 16px 0 0;
}

.article__related {
  list-style: disc;
  list-style-position: inside;
  margin: 16px 0 0;
}

.article__related li {
  font-size: 1.4rem;
  color: var(--color-dark);
  font-weight: bold;
}

.article__related li a {
  color: currentColor;
}

.article.type-no-summary .article__summary {
  display: none;
}

.article.type-md .article__title {
  font-size: 1.8rem;
}

#section-featured .article.type-md + .article.type-md {
  margin-top: 24px;
}

.article--horizontal {
  display: flex;
  width: 100%;
}

.article--horizontal .article__thumbnail {
  width: 36%;
}

.article--horizontal .article__desc {
  padding: 0 16px;
  flex: 1;
}

.article.type-sm .article__title {
  font-size: 1.4rem;
}

.article-list--vertical .article {
  padding-bottom: 12px;
  border-bottom: 1px solid var(--color-gray-400);
}

.article-list--vertical > *:not(:first-child) {
  margin-top: 12px;
}

#section-multimedia {
  background-color: var(--color-theme-5);
  padding: 32px;
  margin-top: 32px;
}

.section__heading {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding-bottom: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
  border-bottom: 1px solid var(--color-gray-400);
}

#section-multimedia .section__heading {
  border: unset;
  margin-bottom: unset;
}

.section__heading h3::before {
  position: absolute;
  top: 6px;
  bottom: 6px;
  left: -8px;
  display: inline-block;
  content: "";
  width: 4px;
  background-color: var(--color-theme-2);
  transform: translate(-50%) skew(-15deg);
}

.section__heading h3 {
  position: relative;
  font-size: 2rem;
  margin: 0;
}

.section__heading h3 a {
  color: var(--color-dark);
}

.section__heading ul {
  display: flex;
  align-items: center;
  margin-left: 64px;
}

.section__heading ul li + li {
  margin-left: 32px;
}

.section__heading ul a {
  color: var(--color-gray-700);
  font-size: 1.5rem;
  font-weight: bold;
}

.section__heading ul a:hover {
  color: var(--color-theme-2);
}

#section-multimedia .article__meta {
  display: none;
}

#section-multimedia .article {
  margin-bottom: 16px;
}

#section-foryou {
  margin-top: 32px;
}

#section-foryou .article__meta {
  display: none;
}

.article-list--horizontal {
  display: flex;
  width: 100%;
  margin-left: -4px;
  margin-right: -4px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

#section-foryou .article-list--horizontal .article {
  max-width: 20%;
  flex: 0 0 20%;
  padding-left: 4px;
  padding-right: 4px;
  scroll-snap-align: start;
}

#section-foryou .section__heading {
  justify-content: space-between;
}

.section__heading .btn-wrapper {
  margin-right: 16px;
}

.section__heading .btn-wrapper button {
  font-size: 2.6rem;
  color: var(--color-gray-600);
}

.section__heading .btn-wrapper i {
  color: currentColor;
}

.section__heading .btn-wrapper button:hover {
  color: var(--color-theme-2);
}

#section-latest,
#section-mostview {
  margin-top: 32px;
}

#section-latest .article__meta .time {
  display: none;
}

#section-mostview .article .article__publish {
  display: none;
}

#section-podcast .article__meta {
  display: none;
}

#section-podcast {
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding: 32px;
  background-color: var(--color-white);
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid var(--color-gray-400);
  max-height: calc(100vh - var(--header-height));
  position: sticky;
  top: calc(var(--header-height) + 10px);
  width: 90%;
}

#section-podcast::before {
  position: absolute;
  z-index: 1;
  display: block;
  content: "";
  height: 30%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(-45deg, #23a6d5, #23d5ab);
}

#section-podcast .section__heading {
  position: relative;
  z-index: 1;
  border-bottom: unset;
  justify-content: center;
}

#section-podcast .section__content {
  position: relative;
  z-index: 1;
}

#section-podcast .section__content .article + .article {
  margin-top: 24px;
}

#section-lifestyle {
  margin-top: 32px;
}

#section-lifestyle .article__meta {
  display: none;
}

[data-content="newsfeatured"] .article {
  margin-bottom: 32px;
}
